<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Naše firma
		</title>
		<link rel="stylesheet" href="/index.css">
	</head>
	<body>
		<div class="layout">
			{% include "hlavicka.njk" %}  {# se nasosává ze složky části, proto include #}
			<main class="telo">
				{{ content | safe }} {# v tagu main musí být vložen v dvojtých uvozovkách content, kam se nasosávají njk soubory ze src #}
			</main>
			{% include "paticka.njk" %}
		</div>
	</body>
</html>
